<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
<link data-turbolinks-track="true" href="/assets/application.css" media="all"
rel="stylesheet" />



<html>
  <head>
    <title>UserPasswordTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<%= render "layouts/header" %>
<%= yield %>
  </body>
</html>
